body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

button {
    margin: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
}

button:hover {
    background-color: rgb(106, 106, 105);
}

p {
    margin: 5px;
    font-weight: bold;
    color: #333;
}